<!DOCTYPE html>
<html>
  <head>
    <title>LogIn</title>
  </head>
  <body>
    <h2>Log In</h2>
    <form action="/connect4/login/" method="post">
      {% csrf_token %}
      <label for="username">Username: </label>
      <input id="username" type="text" name="username">
      <br> <br>
      <label for="password">Password: </label>
      <input id="password" type="password" name="password">
      <br> <br>
      <button type="submit">Log In!</button>
    </form>
    <br>
    {{message}}
  </body>
</html>
