{% extends 'connect4/base.html' %}

{% block content %}
  <style>
    fieldset{ float: right;}
  </style>
  <fieldset>
  <form action="{% url 'games' %}"><button type="submit">Back!</button></form>
  <form action="{% url 'logout' %}"><button type="submit">Log Out!</button></form>
  </fieldset>

  <div class="container">
    {% load static %}
  <!--<img src="{% static "images/board.png" %}" alt="board_img" align="middle"/>-->
  {% for row in board %}
    {% for col in row %}
      &nbsp; {{col}}  &nbsp; &nbsp;
    {% endfor %}
    <br>
  {% endfor %}
  <br>
  <form action="{% url 'play' %}" method="POST">
    {% csrf_token %}
    <input name="move" value=0 type="submit"/> &nbsp;
    <input name="move" value=1 type="submit"/> &nbsp;
    <input name="move" value=2 type="submit"/> &nbsp;
    <input name="move" value=3 type="submit"/> &nbsp;
    <input name="move" value=4 type="submit"/> &nbsp;
    <input name="move" value=5 type="submit"/> &nbsp;
    <input name="move" value=6 type="submit"/> &nbsp;
  </form>
  </div>

  <br><br>{{message}}

  {% if won %}
    <br><br>
    {{won}}
    <script>
      alert("GAME OVER!");
    </script>
  {% endif %}
{% endblock content %}
